.timeline{
    display: flex;
}

.new-tweet-form{
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new-tweet-form label{
    display: flex;
    gap: 0.75rem;
}


.new-tweet-form label img{
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;

}

.new-tweet-form label textarea{
    flex: 1; /*faz o elemento ocupar todo o espaço disponível*/
    border: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.75rem;
    resize: none; /*retira a capacidade do usuário a redimensionar*/ 
    background: inherit;
    color: inherit;
}

.new-tweet-form label textarea:focus{
    outline: none;
}

.new-tweet-form label textarea::placeholder{
    color: #5b7083;
}

.new-tweet-form .form-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-tweet-form .form-footer .actions-container{
    display: flex;
    gap: 1em;
}

.new-tweet-form button[type=submit]{
    margin-left: auto; 
    background: var(--twitter-blue);
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font: 1rem 900;
    border: none;
}

.new-tweet-form button[type=submit]:hover{
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
}

@media(max-width: 780px){
    .timeline{
        margin-right: 1px solid #fff;
    }
}
